header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
    justify-content: center;
}

main img {
    padding: 1rem 0;
    animation: fade 10s;
}

footer {
    margin-top: 1rem;
    padding: .2rem;
    text-align: center;
    background: #222;
    color: #ddd;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}