@media screen and (min-width: 1000px) {
    nav #menu {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero-img {
        display: grid;
        grid-template-columns: auto 30rem auto;
        grid-template-rows: auto;
        grid-column: 1/4;
        width: 100%;
    }
    
    .hero-label{
        position: absolute;
        top: 20rem;
        left: 10rem;
        color: white;
    }

    .hero-img picture {
        grid-column: 1/4;
        grid-row: 1/2;
        width: 100%;
    }
    
    .hero-img .foregnd {
        grid-column: 1/4;
        grid-row: 1/2;
        width: 100%;
    }
    
    .hero-img .action {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .hero-img .action h1 {
        color: #f8f8ff;
    }

    main section {
        margin: 2rem auto;
        padding: 0;
    }

    main h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1/3;
        grid-row: 1/2;
    }    

    main .visit {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    main .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/3;
        grid-row: 2/3;
        text-align: center;
        margin-left: 1rem;
    }

    main .content figure img:hover {
        box-shadow: 0 0 30px #aaa;
    }

    main aside {
        grid-column: 3/4;
        grid-row: 2/3;
        padding: 10px;
        margin-right: 2rem;
        height: auto;
        background: rgba(6, 85, 86, .1);
        border-radius: 15px;
    }
    
    main .events {
        display: grid;
        grid-column: 1/3;
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }
    
    main .events h3 {
        grid-column: 1/3;
    }
    
    main .events article {
        display: grid;
        padding: 1rem;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 1rem;
    }
    
    main .weather {
        grid-column: 3/4;
        margin-right: 0;
    }
    
    main .spotlights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        grid-column: 1/4;
    }
    
    main .spotlights h3 {
        grid-column: 1/4;
    }
    
    main .spotlights article {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 1rem;
        row-gap: .5rem;
    }
    
    main .spotlights article img {
        grid-row: 1/3;
        width: 100px;
    }

    form {
        width: 80%;
        padding: 2rem;
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .benefits {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    main div.thanks{
        grid-column: 1/4;
    }

    main h1.directory, main div.displayMode {
        grid-column: span 3;
    }

    .directory_list {
        grid-column: span 3;
        width: 100%;
    }

    .list ul li#line > * {
        padding-left: .5rem;
    }

}

/*----- Applies to all to devices -----*/

html{
    width: auto;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    background: #f8f8ff;
    font-family: "Open sans";
    font-size: 14pt;
}

.dark {
    background-color: #111;
    color: #f8f8ff;
}

header {
    display: flex;
    width: 100%;
    padding: .2rem;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 6rem;
    padding: 0;
    margin: 0 20px;
}

header .logo img{
    width: 100%;
    height: auto;
}

#mode {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 60px;
    height: 34px;
    border-radius: 20px;
    border: .5px solid rgba(6, 85, 86, .7);
    cursor: pointer;
}

#mode:hover {
    background: rgba(6, 85, 86, .7);
    color: #f8f8ff;
    border: 0;
}

.active {
    font-size: .8em;
    margin: auto auto;
}

nav{
    margin: 1rem auto;
    text-align: center;
}

.navigation li {
    display: inline;
    list-style: none;
}

nav li a{
    padding: 2px 15px;
    /*background: #721622;*/
    color: #721622;
    border-radius: 5px;
    text-decoration: none;
}

nav li a:hover, header nav li a:active {
    background: #721622;
    color: #f8f8ff;
}

.hero-img {
    text-align: center;
    font-size: larger;
    color: #f8f8ff;
    padding: 0;
}

.hero-img img {
    width: 100%;
    height: 100%;
}

.hero-img .foregnd {
    background: rgba(0, 0, 0, .5);
}

.hero-img .action {
    margin: auto;
}

.action a {
    padding: 10px 20px;
    background: #721622;
    color: #f8f8ff;
    border-radius: 5px;
    text-decoration: none;
}

.action a:hover, .action a:active {
    background: #065556;
}

main {
    width: auto;
    place-items: center;
}

main h1 {
    color: #065556;
}

main .visit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem auto;
    background: rgba(6, 85, 86, .1);
    border-radius: 15px;
}

main .sidebar div {
    background: rgba(6, 85, 86, .1);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 1rem;
}

main ,.sidebar div picture {
    text-align: center;
}

main .sidebar div img {
    width: 200px;
    border-radius: 15px;
    animation: fade 10s;
}

main .content picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

main .content div {
    font-weight: 700;
    font-size: 20px;
    margin: 1rem 0 2rem 0;
}

main .content img {
    border-radius: 15px;
    animation: fade 10s;
}

main section {
    width: auto;
    padding: 1rem;
}

main .events h3 {
    color: #065556;
}

main .events article:not(:last-child) {
    margin-bottom: 1rem;
}

main .events article .event-date .day {
    color: #065556;
    font-size: larger;
}

main .events article .event-info .event-title {
    margin: 0;
    color: #065556;
}

main .events article .event-date .month {
    color: #065556;
    font-size: smaller;
}

main .weather {
    background: rgba(6, 85, 86, .1);
    border-radius: 5px;
}

main .spotlights {
    margin-bottom: 0;
    width: auto;
    background: #721622;
    color: #f8f8ff;
    text-align: center;
}

main .spotlights article {
    text-align: left;
}

main .spotlights article img {
    border-radius: 50px;
}

main .spotlights article .spt-name {
    margin: 0;
    font-size: large;
}

footer{
    display: block;
    width: 100%;
    padding: .2rem 0;
    text-align: center;
    background: #065556;
    color: #f8f8ff;
    font-size: small;
}

.dark-mode {
    color: #f8f8ff;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

:root {
    --primary-color: #721622;
    --secondary-color: #065556;
    --third-color: #f8f8ff;
    --font-color: #000;
    --background-tab: rgb(231, 231, 231);
    --bord-color: rgb(182, 182, 182);
    --submit-key: #007BFF;
}

form {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    background: var(--background-tab);
    border-radius: 15px;
    margin: 1rem 0;
}

form fieldset {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem 0;
    border: solid var(--primary-color) 1px;
    text-align: left;
}

form fieldset#member label, form fieldset#description label {
    display: inline-block;
}

form fieldset legend {
    padding: 0 1rem;
}

form label {
    display: flex;
    flex-direction: column;
}

form label input {
    background-color: var(--third-color);
    border: .1px solid var(--bord-color);
    border-radius: 10px;
    padding: 5px;
}

form label input:required {
    border-left: red solid 5px;
}

form fieldset label input:required:valid {
    border-left: green solid 5px;
}

form textarea {
    border-radius: 15px;
}

form label {
    padding: 10px;
}

main aside.benefits {
    text-align: left;
    background-color: var(--third-color);
}

main div.thanks{
    margin: 2rem auto;
    width: 80%;
}

#applyBtn {
    margin-top: 10px;
    background: var(--primary-color);
    color: var(--third-color);
    padding: .5rem;
    border-radius: 15px;
    border-width: 0;
    max-width: 20rem;
}

#applyBtn:hover {
    background: var(--secondary-color);
    color: var(--third-color);
    /* border: .1px solid var(--primary-color); */
}

.benefits ul li {
    list-style: disc !important;
    color: var(--secondary-color);
}


.directory_list.grid{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.directory_list.list {
    display: block;
    width: 100%;
}


.grid #cards {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #f8f8ff;
    border: 1px solid #bbb;
    display: block;
    align-items: center;
    border-radius: 10px;
}

.grid #cards img {
    width: auto;
    max-width: 325px;
    height: 100px;
    border: .3px solid #333;
    border-radius: 50%;
}

.list ul li#line {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: left;
    align-items: center;
    text-align: center;
}

.directory_list a {
    color: #721622;
}

.list ul li#line:nth-child(even) {
    background-color: rgba(6, 85, 86, .1); /* Change this to your preferred color */
}

.temp figure, .forecast figure {
    display: flex;
    margin: 0;
    align-items: center;
    gap: .5rem;
}

.temp h4, .forecast h4{
    margin-bottom: .2rem;
}

#banner {
    position: fixed;
    width: 100%;
    background: rgba(114, 22, 34, .3);
    text-align: center;
    padding: 20px 0;
    z-index: 100;
}

#banner p {
    margin: 0;
    display: inline-block;
}

#close {
    float: right;
    margin-right: 10px;
    background: none;
    border: none;
    font-size: 20px;
}

#banner #close:hover {
    cursor: pointer;
}