@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Mooli&display=swap');

/* colors  
primary: 001d3d
secondary: ff7900
others: 8ecae6
*/

p, div, section {
    font-family: mooli;
}

header {
    display: block;
    padding: .5rem;
    height: 15%;
    width: 100%;
    background-color: lightgray;
    margin: 0 auto;
    text-align: center;
    grid-template-rows: 1fr;
    border-radius: 5px;
    color: #000e1c;
    justify-content: center;
}

#profile_img{
    padding: 0;
    width: 100px;
    border-radius: 15px;
    border: 1.5px solid #8ecae6;
}

#myName {
    padding: .4rem;
}

a {
    text-decoration: none;
}

nav {
    margin: 1.5rem auto;
    text-align: center;
    font-family: mooli;
    font-size: 18px;
    font-family: "Libre Baskerville";
}

nav a{
    display: block;
    width: 60%;
    padding: .5rem;
    margin: .5rem auto;
    background: #000e1c;
    color: white;
    border-radius: 50px;
}

nav a:hover, nav a:active {
    background: #8ecae6;
    color: #000e1c;
    border: 1px solid #000e1c;
}

main {
    display: grid;
    width: 75%;
    margin: 1.5rem auto;
    text-align: center;
}

main h2 {
    color: #000e1c;
}

.card {
    padding: 1em;
    height: 15rem;
}

.card h3 {
    width: 100%;
    padding: 10px 0;
    background: #8ecae6;
    border-radius: 15px 15px 0 0;
}

.card ul, .card div {
    border: 1px dashed #000e1c;
    border-top: none;
    height: 150px;
    border-radius: 0 0 15px 15px;
}

main section li {
    list-style: none;
    padding: .3rem;
}

footer {
    text-align: center;
    background: #000e1c;
    color: white;
    padding: .5rem;
    font-size: smaller;
}
